.main{
    display: flex;
    justify-content: center;
}

.two{
    margin-top: 50px;
    padding: 10px 50px;
    background-color: teal;
    border-bottom-right-radius: 90px;
}

.text{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}